* {
    /* liczymy width = zawartość + padding + border*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-variation-settings: "wdth" 100;
    /* konkretna szerokość */


    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: #92a6fe;
    color: #2c2c2c;
    min-height: 100vh;
    display: flex;
    /* align-items: stretch; */
    /* justify-content: center; */
    padding: 12px;
}

.game-wrapper {
    width: 100%;
    max-width: 520px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: #839aff;
    border-radius: 16px;
    /* zaokrąglone rogi */
    /*cień*/
    border: 1px solid #534d93;
}

.main-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* po co to?? */
}

/* zesrało przycisk nowa gra*/
.sidebar {
    display: flex;
    flex-direction: column;
}

h1 {
    /* font-size: 20px;
    margin-bottom: 4px; */
}


.label {
    /* font-size: 13px; */
    /* color: #2b2380; */
}

#score {
    font-size: 28px;
    font-weight: 600;
}

.next-wrapper {
    /* margin-top: 8px;
    max-width: 160px; */
}

#next {
    width: 100%;
    max-width: 100px;
    height: auto;
    background: #020617;
    border: 1px solid #1f2937;
    border-radius: 8px;
}

#board {
    width: 100%;
    max-width: 180px;
    height: auto;
    background: #424f8d;
    border-radius: 12px;
    border: 1px solid #1f2937;
    display: block;
    /* elementy jeden pod drugim */
}

button {
    margin-top: 8px;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 9999px;
    /*zaokrąglone*/
    border: 1px solid #4b5563;
    background: #111827;
    color: #e5e7eb;
    touch-action: manipulation;
    /* ma stopowac zooma */
}


button:active {
    transform: translateY(-1px);
    /* box-shadow: none; */
}

.controls {
    font-size: 12px;
    color: #0f2f67;
    margin-top: 8px;
    line-height: 1.5;
}

.game-over {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #af3838;
    min-height: 18px;
    /* rezerwuje miejsce zeby układ nie skakał */
}

.touch-controls {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 8px;
    width: 100%;
    max-width: 320px;
    margin-top: 4px;
}

.btn-control {
    font-size: 18px;
    padding: 10px 0;
}

.controls {
    display: none;
}

.page-title {
    display: none;
}

@media (min-width: 768px) {
    body {
        padding: 24px;
    }

    .page-title {
        display: initial;
        font-size: 15vh;
        margin-bottom: 8px;
    }

    .game-wrapper {
        flex-direction: row;
        max-width: 80%;
        gap: 24px;
    }

    .main-area {
        flex: 1;
    }

    /* główna część wypełnia resztę szerokości */

    .sidebar {
        min-width: 200px;
    }

    #board {
        max-width: 260px;
        /* width: 240px;
        height: 480px; */
    }

    #next {
        width: 100%;
        height: auto;
        border-radius: 8px;
        max-width: 160px;
    }

    .touch-controls {
        /* max-width: 360px; */
        display: none;
    }

    .controls {
        display: initial;
    }


}
